<a href="https://colab.research.google.com/github/liveleisurely/Paper/blob/main/Graduate_paper_important.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('/content/drive/MyDrive/dataset/credit/loan.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data.info() # 2260668 * 145

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 2.4+ GB

# 삭제 확정 열

In [7]:
'''
data = data.drop(['id','member_id'], axis=1)
data = data.drop('url', axis=1)
'''

In [4]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)

In [5]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.isnull().sum()

id                       2260668
member_id                2260668
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
                          ...
settlement_status        2227612
settlement_date          2227612
settlement_amount        2227612
settlement_percentage    2227612
settlement_term          2227612
Length: 145, dtype: int64

In [7]:
data.iloc[:,:10]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4
...,...,...,...,...,...,...,...,...,...,...
2260663,NaN,NaN,12000,12000,12000.0,60 months,14.08,279.72,C,C3
2260664,NaN,NaN,12000,12000,12000.0,60 months,25.82,358.01,E,E4
2260665,NaN,NaN,10000,10000,10000.0,36 months,11.99,332.10,B,B5
2260666,NaN,NaN,12000,12000,12000.0,60 months,21.45,327.69,D,D5
2260667,NaN,NaN,16550,16550,16550.0,60 months,21.45,451.94,D,D5

In [8]:
data['grade'].value_counts()

B    663557
C    650053
A    433027
D    324424
E    135639
F     41800
G     12168
Name: grade, dtype: int64

In [9]:
data['sub_grade'].value_counts()

C1    145903
B5    140288
B4    139793
B3    131514
C2    131116
C3    129193
C4    127115
B2    126621
B1    125341
C5    116726
A5    107617
A4     95874
A1     86790
D1     81787
A3     73184
D2     72899
A2     69562
D3     64819
D4     56896
D5     48023
E1     33573
E2     29924
E3     26708
E4     22763
E5     22671
F1     13413
F2      9305
F3      7791
F4      6124
F5      5167
G1      4106
G2      2688
G3      2094
G4      1712
G5      1568
Name: sub_grade, dtype: int64

In [10]:
data.iloc[:,:10].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   id               float64
 1   member_id        float64
 2   loan_amnt        int64
 3   funded_amnt      int64
 4   funded_amnt_inv  float64
 5   term             object
 6   int_rate         float64
 7   installment      float64
 8   grade            object
 9   sub_grade        object
dtypes: float64(5), int64(2), object(3)
memory usage: 172.5+ MB

In [11]:
data.iloc[:,10:20]

,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc
0,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN
1,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN
2,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN
3,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,Dec-2018,Current,n,NaN,NaN
4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,Dec-2018,Current,n,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2260663,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,Oct-2017,Current,n,NaN,NaN
2260664,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,Oct-2017,Fully Paid,n,NaN,NaN
2260665,Teacher,10+ years,OWN,64000.0,Source Verified,Oct-2017,Current,n,NaN,NaN
2260666,NaN,NaN,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN
2260667,BABYSITTER,3 years,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN

In [36]:
data.iloc[:,:10].isnull().sum()

id                 2257919
member_id          2257919
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
term                     0
int_rate                 0
installment              0
grade                    0
sub_grade                0
dtype: int64

In [12]:
data['verification_status'].value_counts()

Source Verified    886231
Not Verified       744806
Verified           629631
Name: verification_status, dtype: int64

In [13]:
data['issue_d'].describe()

count      2260668
unique         139
top       Mar-2016
freq         61992
Name: issue_d, dtype: object

In [14]:
data['loan_status'].unique()

array(['Current', 'Fully Paid', 'Late (31-120 days)', 'In Grace Period',
       'Charged Off', 'Late (16-30 days)', 'Default',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [15]:
index1 = data[data['loan_status'] == 'Does not meet the credit policy. Status:Fully Paid'].index
index2 = data[data['loan_status'] == 'Does not meet the credit policy. Status:Charged Off'].index
print(index1)
print(index2)
data = data.drop(index1)
data = data.drop(index2)

Int64Index([2139271, 2139273, 2139274, 2139275, 2139277, 2139278, 2139279,
            2139280, 2139282, 2139283,
            ...
            2142008, 2142010, 2142011, 2142012, 2142013, 2142015, 2142016,
            2142017, 2142018, 2142019],
           dtype='int64', length=1988)
Int64Index([2139272, 2139276, 2139281, 2139288, 2139289, 2139291, 2139293,
            2139295, 2139301, 2139304,
            ...
            2141974, 2141976, 2141978, 2141984, 2141986, 2141989, 2141990,
            2142006, 2142009, 2142014],
           dtype='int64', length=761)

In [40]:
data['loan_status'].value_counts()

Fully Paid            1041952
Current                919695
Charged Off            261655
Late (31-120 days)      21897
In Grace Period          8952
Late (16-30 days)        3737
Default                    31
Name: loan_status, dtype: int64

In [17]:
data['desc'].unique()

array([nan, ' ',
       "I currently have a loan out with CashCall. The interest rate is 96%! At the time I took out the loan, it helped with a family crisis, but now the interest is crazy to be paying. I'd rather be paying my $200 a month to pay down a loan rather than just the interest.   Also, the remainder of my debt has interest rates ranging from 20 - 24%. This includes credit cards, a student loan, and some personal loans. So, I would like to consolidate the rest of my debt and pay a lower interest rate of 15%.  By doing this, I could lower my interest and my monthly payments and save at least $4000 over the next few years.  I do have a bankruptcy that was discharged 3 years ago due to having $40,000 in debt from an uninsured hospital stay. However, I've not missed a payment on anything since.  My credit report does from time time to time relist things as collections and then I have to dispute them as included in bankruptcy and they go back to being listed that way. I'm not sure why the status gets messed up sometimes.   Thank you for your time and consideration! ",
       ...,
       'Our current gutter system on our home is old and in need of repair.    We will be using the borrowed funds to replace the gutter system on our home.',
       'The rate of interest and fees incurred by carrying a balance on my credit card are so outrageous at this point that continuing to pay them is patently bad financial thinking.  I wish to redirect my efforts at retiring my debt via another more-reasonable means.    I have sufficient funds to direct to this end on a monthly basis, and have simply gotten tired of their being gobbled up by interest and fees.',
       'I plan to consolidate over $7,000 of debt: a combination of credit cards and student loans.'],
      dtype=object)

In [18]:
data.iloc[:,10:20].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2257919 entries, 0 to 2260667
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   emp_title            object
 1   emp_length           object
 2   home_ownership       object
 3   annual_inc           float64
 4   verification_status  object
 5   issue_d              object
 6   loan_status          object
 7   pymnt_plan           object
 8   url                  float64
 9   desc                 object
dtypes: float64(2), object(8)
memory usage: 189.5+ MB

In [35]:
data.iloc[:,10:20].isnull().sum()

emp_title               166810
emp_length              146873
home_ownership               0
annual_inc                   0
verification_status          0
issue_d                      0
loan_status                  0
pymnt_plan                   0
url                    2257919
desc                   2134275
dtype: int64

In [19]:
data['pymnt_plan'].value_counts()

n    2257237
y        682
Name: pymnt_plan, dtype: int64

In [20]:
data['purpose'].unique()

array(['debt_consolidation', 'credit_card', 'house', 'car', 'other',
       'vacation', 'home_improvement', 'small_business', 'major_purchase',
       'medical', 'renewable_energy', 'moving', 'wedding', 'educational'],
      dtype=object)

In [21]:
data['title'].unique()

array(['Debt consolidation', 'Credit card refinancing', 'Home buying',
       ..., 'Retiring credit card debt', 'MBA Loan Consolidation',
       'JAL Loan'], dtype=object)

In [22]:
len(data['title'].unique())

61686

In [30]:
data.iloc[:,20:30]

,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record
0,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,Apr-2001,1.0,NaN,45.0
1,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.0,Jun-1987,0.0,71.0,75.0
2,debt_consolidation,Debt consolidation,490xx,MI,10.51,0.0,Apr-2011,0.0,NaN,NaN
3,debt_consolidation,Debt consolidation,985xx,WA,16.74,0.0,Feb-2006,0.0,NaN,NaN
4,debt_consolidation,Debt consolidation,212xx,MD,26.35,0.0,Dec-2000,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2260663,debt_consolidation,Debt consolidation,054xx,VT,20.88,0.0,Jan-2004,0.0,NaN,NaN
2260664,debt_consolidation,Debt consolidation,971xx,OR,19.28,3.0,Mar-2003,1.0,13.0,NaN
2260665,debt_consolidation,Debt consolidation,603xx,IL,12.96,0.0,Feb-1995,0.0,NaN,NaN
2260666,debt_consolidation,Debt consolidation,996xx,AK,30.82,2.0,Jul-2003,1.0,7.0,NaN
2260667,credit_card,Credit card refinancing,112xx,NY,18.40,0.0,Apr-2014,1.0,NaN,NaN

In [31]:
data.iloc[:,20:30].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2257919 entries, 0 to 2260667
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   purpose                 object
 1   title                   object
 2   zip_code                object
 3   addr_state              object
 4   dti                     float64
 5   delinq_2yrs             float64
 6   earliest_cr_line        object
 7   inq_last_6mths          float64
 8   mths_since_last_delinq  float64
 9   mths_since_last_record  float64
dtypes: float64(5), object(5)
memory usage: 189.5+ MB

In [33]:
data['delinq_2yrs'].value_counts()

0.0     1836803
1.0      281067
2.0       81206
3.0       29519
4.0       13169
5.0        6594
6.0        3714
7.0        2060
8.0        1222
9.0         818
10.0        556
11.0        362
12.0        263
13.0        164
14.0        120
15.0         87
16.0         55
17.0         30
18.0         30
19.0         23
20.0         17
21.0         12
22.0          5
24.0          4
26.0          3
23.0          2
29.0          2
30.0          2
25.0          2
58.0          1
35.0          1
27.0          1
39.0          1
28.0          1
32.0          1
42.0          1
36.0          1
Name: delinq_2yrs, dtype: int64

In [34]:
data.iloc[:,20:30].isnull().sum()

purpose                         0
title                       23323
zip_code                        1
addr_state                      0
dti                          1711
delinq_2yrs                     0
earliest_cr_line                0
inq_last_6mths                  1
mths_since_last_delinq    1157303
mths_since_last_record    1899623
dtype: int64

In [37]:
data.iloc[:,30:40].isnull().sum()

open_acc                  0
pub_rec                   0
revol_bal                 0
revol_util             1762
total_acc                 0
initial_list_status       0
out_prncp                 0
out_prncp_inv             0
total_pymnt               0
total_pymnt_inv           0
dtype: int64

In [38]:
data.iloc[:,30:40]

,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv
0,9.0,1.0,4341,10.3,34.0,w,2386.02,2386.02,167.020000,167.02
1,13.0,1.0,12315,24.2,44.0,w,29387.75,29387.75,1507.110000,1507.11
2,8.0,0.0,4599,19.1,13.0,w,4787.21,4787.21,353.890000,353.89
3,10.0,0.0,5468,78.1,13.0,w,3831.93,3831.93,286.710000,286.71
4,12.0,0.0,829,3.6,26.0,w,29339.02,29339.02,1423.210000,1423.21
...,...,...,...,...,...,...,...,...,...,...
2260663,12.0,0.0,9592,39.2,34.0,w,8687.20,8687.20,5360.960000,5360.96
2260664,10.0,0.0,3497,20.2,26.0,w,0.00,0.00,14499.802172,14499.80
2260665,6.0,0.0,7094,70.9,13.0,w,5993.27,5993.27,5306.940000,5306.94
2260666,8.0,0.0,12927,34.9,17.0,w,9924.69,9924.69,5207.290000,5207.29
2260667,13.0,0.0,25760,50.8,14.0,w,13541.01,13541.01,7355.500000,7355.50

In [39]:
data.iloc[:,30:40].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2257919 entries, 0 to 2260667
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   open_acc             float64
 1   pub_rec              float64
 2   revol_bal            int64
 3   revol_util           float64
 4   total_acc            float64
 5   initial_list_status  object
 6   out_prncp            float64
 7   out_prncp_inv        float64
 8   total_pymnt          float64
 9   total_pymnt_inv      float64
dtypes: float64(8), int64(1), object(1)
memory usage: 189.5+ MB